Fixed-length arrays pack/unpack include length

**Describe the bug**
It looks like fixed-length array fields generated have a length pack/unpack proceeding the element, however fixed-length arrays do not have lengths packed prior to the first element.

**What version of dependencies are you using?**
3c07a1449ad6215e5658157756b53d76837f98cf

**To Reproduce**
Take a look here:
https://github.com/StellarCN/py-stellar-base/blob/3c07a1449ad6215e5658157756b53d76837f98cf/stellar_sdk/xdr/ledger_header.py#L134-L137

**Expected behavior**
This code is unpacking the `LedgerHeader`'s `skipList` field, which is a `Hash[4]` fixed-length array:
https://github.com/stellar/stellar-core/blob/95a91cb/src/xdr/Stellar-ledger.x#L97-L101

Therefore there should be no length proceeding the first element, as per [RFC 4506 Section 4.2](https://datatracker.ietf.org/doc/html/rfc4506#section-4.12).

**Additional context**
I think this code exists because the xdrgen fork used for generating this code includes a length pack/unpack for both fixed and variable length arrays when it should only include it for variable length arrays:
https://github.com/overcat/xdrgen/blob/379dd177d93d9ebf9f0bc1051d3c71c6c2777086/lib/xdrgen/generators/python.rb#L415-L421
https://github.com/overcat/xdrgen/blob/379dd177d93d9ebf9f0bc1051d3c71c6c2777086/lib/xdrgen/generators/python.rb#L387-L391

The same issue appears to exist for packing of fixed-length arrays too.

Thanks you for reporting this, it has been fixed in [7.0.2](https://pypi.org/project/stellar-sdk/7.0.2/).